<!--<?xml version="1.0"?>-->
<!--<!DOCTYPE module PUBLIC-->
<!--    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"-->
<!--    "https://checkstyle.org/dtds/configuration_1_3.dtd">-->
<!--&lt;!&ndash;-->
<!--    Checkstyle configuration-->
<!--&ndash;&gt;-->
<!--<module name="Checker">-->

<!--    &lt;!&ndash; https://checkstyle.org/property_types.html &ndash;&gt;-->
<!--    <property name="charset" value="UTF-8"/>-->
<!--    <property name="fileExtensions" value="java, properties, xml"/>-->


<!--    &lt;!&ndash; https://checkstyle.org/config_filefilters.html &ndash;&gt;-->
<!--    &lt;!&ndash;     Excludes all 'module-info.java' files      &ndash;&gt;-->
<!--    <module name="BeforeExecutionExclusionFileFilter">-->
<!--        <property name="fileNamePattern" value="module\-info\.java$"/>-->
<!--    </module>-->


<!--    &lt;!&ndash; https://checkstyle.org/config_javadoc.html#JavadocPackage     &ndash;&gt;-->
<!--    &lt;!&ndash; Checks that a package-info.java file exists for each package. &ndash;&gt;-->
<!--    &lt;!&ndash; <module name="JavadocPackage"/> &ndash;&gt;-->


<!--    &lt;!&ndash; https://checkstyle.org/config_misc.html#NewlineAtEndOfFile &ndash;&gt;-->
<!--    &lt;!&ndash;       Checks whether files end with a new line.            &ndash;&gt;-->
<!--    <module name="NewlineAtEndOfFile"/>-->


<!--    &lt;!&ndash; https://checkstyle.org/config_misc.html#Translation &ndash;&gt;-->
<!--    &lt;!&ndash;   Checks that property files contain the same keys. &ndash;&gt;-->
<!--    <module name="Translation"/>-->


<!--    &lt;!&ndash; https://checkstyle.org/config_misc.html#UniqueProperties &ndash;&gt;-->
<!--    &lt;!&ndash;             Check for duplicate properties.              &ndash;&gt;-->
<!--    <module name="UniqueProperties"/>-->


<!--    &lt;!&ndash; https://checkstyle.org/config_sizes.html &ndash;&gt;-->
<!--    &lt;!&ndash;      Checks for Size Violations.         &ndash;&gt;-->
<!--    <module name="FileLength"/>-->
<!--    <module name="LineLength">-->
<!--        <property name="max" value="120"/>-->
<!--        <property name="fileExtensions" value="java"/>-->
<!--        <property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>-->
<!--    </module>-->


<!--    &lt;!&ndash; https://checkstyle.org/config_whitespace.html &ndash;&gt;-->
<!--    &lt;!&ndash;            Checks for tabs                    &ndash;&gt;-->
<!--    <module name="FileTabCharacter"/>-->


<!--    &lt;!&ndash; https://checkstyle.org/config_misc.html &ndash;&gt;-->
<!--    &lt;!&ndash;      Check for trailing spaces.        &ndash;&gt;-->
<!--    <module name="RegexpSingleline">-->
<!--        <property name="format" value="\s+$"/>-->
<!--        <property name="minimum" value="0"/>-->
<!--        <property name="maximum" value="0"/>-->
<!--        <property name="message" value="Line has trailing spaces."/>-->
<!--    </module>-->


<!--    &lt;!&ndash; https://checkstyle.org/config_filters.html &ndash;&gt;-->
<!--    &lt;!&ndash;  Suppression with comments/annotation .    &ndash;&gt;-->
<!--    <module name="SuppressWithPlainTextCommentFilter"/>-->
<!--    <module name="SuppressWarningsFilter"/>-->

<!--    <module name="TreeWalker">-->
<!--        <module name="DeclarationOrder"/>-->
<!--        <module name="VisibilityModifier"/>-->

<!--        &lt;!&ndash; https://checkstyle.org/config_javadoc.html &ndash;&gt;-->
<!--        &lt;!&ndash;         Checks for Javadoc comments.       &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="AtclauseOrder"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="InvalidJavadocPosition"/> &ndash;&gt;-->
<!--        &lt;!&ndash;<module name="JavadocContentLocationCheck"/>&ndash;&gt;-->
<!--         <module name="JavadocMethod">-->
<!--             <property name="severity" value="ignore"/>-->
<!--         <module/>-->
<!--&lt;!&ndash;        <module name="JavadocMissingLeadingAsteriskCheck"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <module name="JavadocMissingWhitespaceAfterAsterisk"/>&ndash;&gt;-->
<!--        &lt;!&ndash; <module name="JavadocParagraph"/> &ndash;&gt;-->
<!--&lt;!&ndash;        <module name="JavadocStyle">&ndash;&gt;-->
<!--&lt;!&ndash;            <property name="checkFirstSentence" value="false"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <property name="checkEmptyJavadoc" value="true"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <property name="tokens"&ndash;&gt;-->
<!--&lt;!&ndash;                      value="ANNOTATION_DEF, ANNOTATION_FIELD_DEF, CLASS_DEF, CTOR_DEF, ENUM_CONSTANT_DEF, ENUM_DEF, INTERFACE_DEF, METHOD_DEF, VARIABLE_DEF"/>&ndash;&gt;-->
<!--        &lt;!&ndash;</module>&ndash;&gt;-->
<!--        &lt;!&ndash;<module name="JavadocTagContinuationIndentation"/>&ndash;&gt;-->
<!--        <module name="JavadocType">-->
<!--            <property name="severity" value="ignore"/>-->
<!--        </module>-->
<!--         <module name="JavadocVariable">-->
<!--             <property name="severity" value="ignore"/>-->
<!--         <module/>-->
<!--        &lt;!&ndash; <module name="MissingJavadocMethod"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="MissingJavadocPackage"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="MissingJavadocType"/> &ndash;&gt;-->
<!--&lt;!&ndash;        <module name="NonEmptyAtclauseDescription"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <module name="SingleLineJavadoc"/>&ndash;&gt;-->
<!--        &lt;!&ndash; <module name="SummaryJavadoc"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="WriteTag"/> &ndash;&gt;-->


<!--        &lt;!&ndash; https://checkstyle.org/config_annotation.html &ndash;&gt;-->
<!--        &lt;!&ndash;              Annotations                      &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="AnnotationLocation">&ndash;&gt;-->
<!--        &lt;!&ndash;  <property name="id" value="AnnotationLocationMostCases"/>&ndash;&gt;-->
<!--        &lt;!&ndash;  <property name="tokens" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF"/>&ndash;&gt;-->
<!--        &lt;!&ndash; </module>&ndash;&gt;-->
<!--        &lt;!&ndash; <module name="AnnotationLocation">&ndash;&gt;-->
<!--        &lt;!&ndash;  <property name="id" value="AnnotationLocationVariables"/>&ndash;&gt;-->
<!--        &lt;!&ndash;  <property name="tokens" value="VARIABLE_DEF"/>&ndash;&gt;-->
<!--        &lt;!&ndash;  <property name="allowSamelineMultipleAnnotations" value="true"/>&ndash;&gt;-->
<!--        &lt;!&ndash; </module>&ndash;&gt;-->
<!--        &lt;!&ndash; <module name="AnnotationOnSameLine"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="AnnotationUseStyle"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="MissingDeprecated"/> &ndash;&gt;-->
<!--        <module name="MissingOverride"/>-->
<!--        &lt;!&ndash; <module name="PackageAnnotation"/> &ndash;&gt;-->


<!--        &lt;!&ndash; https://checkstyle.org/config_naming.html &ndash;&gt;-->
<!--        &lt;!&ndash;      Checks for Naming Conventions.       &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="AbbreviationAsWordInName"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="AbstractClassName"/> &ndash;&gt;-->
<!--        <module name="CatchParameterName"/>-->
<!--        <module name="ClassTypeParameterName"/>-->
<!--        <module name="ConstantName"/>-->
<!--        <module name="IllegalIdentifierName"/>-->
<!--        <module name="InterfaceTypeParameterName"/>-->
<!--        <module name="LambdaParameterName"/>-->
<!--        <module name="LocalVariableName"/>-->
<!--        <module name="MemberName"/>-->
<!--        <module name="MethodName"/>-->
<!--        <module name="MethodTypeParameterName"/>-->
<!--        <module name="PackageName"/>-->
<!--        <module name="ParameterName"/>-->
<!--        <module name="PatternVariableName"/>-->
<!--        <module name="RecordTypeParameterName"/>-->
<!--        <module name="RecordComponentName"/>-->
<!--        <module name="StaticVariableName"/>-->
<!--        <module name="TypeName"/>-->


<!--        &lt;!&ndash; https://checkstyle.org/config_imports.html &ndash;&gt;-->
<!--        &lt;!&ndash;            Checks for imports              &ndash;&gt;-->
<!--        <module name="AvoidStarImport"/>-->
<!--        &lt;!&ndash; <module name="AvoidStaticImport"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="CustomImportOrder"/> &ndash;&gt;-->
<!--        <module name="IllegalImport"/> &lt;!&ndash; defaults to sun.* packages &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="ImportControl"/> &ndash;&gt;-->
<!--        <module name="ImportOrder">-->
<!--            <property name="option" value="under"/>-->
<!--            <property name="sortStaticImportsAlphabetically" value="true"/>-->
<!--        </module>-->
<!--        <module name="RedundantImport"/>-->
<!--        <module name="UnusedImports"/>-->


<!--        &lt;!&ndash; https://checkstyle.org/config_sizes.html &ndash;&gt;-->
<!--        &lt;!&ndash;      Checks for Size Violations.         &ndash;&gt;-->
<!--        <module name="AnonInnerLength">-->
<!--            <property name="max" value="40"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; <module name="ExecutableStatementCount"/> &ndash;&gt;-->
<!--        <module name="LambdaBodyLength">-->
<!--            <property name="max" value="40"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; <module name="MethodCount"/> &ndash;&gt;-->
<!--        <module name="MethodLength"/>-->
<!--        <module name="OuterTypeNumber"/>-->
<!--        <module name="ParameterNumber"/>-->
<!--        &lt;!&ndash; <module name="RecordComponentNumber"/> &ndash;&gt;-->


<!--        &lt;!&ndash; https://checkstyle.org/config_whitespace.html &ndash;&gt;-->
<!--        &lt;!&ndash;          Checks for whitespace                &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="EmptyForInitializerPad"/> &ndash;&gt;-->
<!--        <module name="EmptyForIteratorPad"/>-->
<!--        <module name="EmptyLineSeparator">-->
<!--            <property name="allowNoEmptyLineBetweenFields" value="true"/>-->
<!--            <property name="allowMultipleEmptyLines" value="false"/>-->
<!--            <property name="allowMultipleEmptyLinesInsideClassMember" value="false"/>-->
<!--        </module>-->
<!--        <module name="GenericWhitespace"/>-->
<!--        <module name="MethodParamPad"/>-->
<!--        <module name="NoLineWrap"/>-->
<!--        <module name="NoWhitespaceAfter"/>-->
<!--        <module name="NoWhitespaceBefore"/>-->
<!--        <module name="NoWhitespaceBeforeCaseDefaultColon"/>-->
<!--        <module name="OperatorWrap"/>-->
<!--        <module name="ParenPad"/>-->
<!--        <module name="SeparatorWrap">-->
<!--            <property name="id" value="SeparatorWrapDot"/>-->
<!--            <property name="tokens" value="DOT"/>-->
<!--            <property name="option" value="nl"/>-->
<!--        </module>-->
<!--        <module name="SeparatorWrap">-->
<!--            <property name="id" value="SeparatorWrapComma"/>-->
<!--            <property name="tokens" value="COMMA"/>-->
<!--            <property name="option" value="EOL"/>-->
<!--        </module>-->
<!--        <module name="SeparatorWrap">-->
<!--            <property name="id" value="SeparatorWrapEllipsis"/>-->
<!--            <property name="tokens" value="ELLIPSIS"/>-->
<!--            <property name="option" value="EOL"/>-->
<!--        </module>-->
<!--        <module name="SeparatorWrap">-->
<!--            <property name="id" value="SeparatorWrapArrayDeclarator"/>-->
<!--            <property name="tokens" value="ARRAY_DECLARATOR"/>-->
<!--            <property name="option" value="EOL"/>-->
<!--        </module>-->
<!--        <module name="SeparatorWrap">-->
<!--            <property name="id" value="SeparatorWrapMethodRef"/>-->
<!--            <property name="tokens" value="METHOD_REF"/>-->
<!--            <property name="option" value="nl"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; <module name="SingleSpaceSeparator"/> &ndash;&gt;-->
<!--        <module name="TypecastParenPad"/>-->
<!--        <module name="WhitespaceAfter"/>-->
<!--        <module name="WhitespaceAround">-->
<!--            <property name="allowEmptyConstructors" value="true"/>-->
<!--            <property name="allowEmptyLambdas" value="true"/>-->
<!--            <property name="allowEmptyMethods" value="true"/>-->
<!--            <property name="allowEmptyTypes" value="true"/>-->
<!--            <property name="allowEmptyLoops" value="true"/>-->
<!--            <message key="ws.notFollowed"-->
<!--                     value="WhitespaceAround: ''{0}'' is not followed by whitespace. Empty blocks may only be represented as '{}' when it's ctor, method, type, lambda or loop"/>-->
<!--            <message key="ws.notPreceded"-->
<!--                     value="WhitespaceAround: ''{0}'' is not preceded with whitespace."/>-->
<!--        </module>-->


<!--        &lt;!&ndash; https://checkstyle.org/config_modifier.html &ndash;&gt;-->
<!--        &lt;!&ndash;             Modifier Checks                 &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="ClassMemberImpliedModifier"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="InterfaceMemberImpliedModifier"/> &ndash;&gt;-->
<!--        &lt;!&ndash;<module name="ModifierOrder"/>&ndash;&gt;-->
<!--        <module name="RedundantModifier"/>-->


<!--        &lt;!&ndash; https://checkstyle.org/config_blocks.html &ndash;&gt;-->
<!--        &lt;!&ndash; Checks for blocks. You know, those {}'s   &ndash;&gt;-->
<!--        <module name="AvoidNestedBlocks">-->
<!--            <property name="allowInSwitchCase" value="true"/>-->
<!--        </module>-->
<!--        <module name="EmptyBlock">-->
<!--            <property name="option" value="TEXT"/>-->
<!--            <property name="tokens" value="LITERAL_TRY, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_SWITCH"/>-->
<!--        </module>-->
<!--        <module name="LeftCurly"/>-->
<!--        <module name="NeedBraces"/>-->
<!--        <module name="RightCurly"/>-->


<!--        &lt;!&ndash; https://checkstyle.org/config_coding.html &ndash;&gt;-->
<!--        &lt;!&ndash;      Checks for common coding problems    &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="ArrayTrailingComma"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="AvoidDoubleBraceInitialization"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="AvoidInlineConditionals"/> &ndash;&gt;-->
<!--        <module name="AvoidNoArgumentSuperConstructorCall"/>-->
<!--        <module name="CovariantEquals"/>-->
<!--        <module name="DefaultComesLast"/>-->
<!--        <module name="EmptyStatement"/>-->
<!--        &lt;!&ndash; <module name="EqualsAvoidNull"/> &ndash;&gt;-->
<!--        <module name="EqualsHashCode"/>-->
<!--        &lt;!&ndash; <module name="ExplicitInitialization"/> &ndash;&gt;-->
<!--        <module name="FallThrough"/>-->
<!--        &lt;!&ndash; <module name="FinalLocalVariable"/> &ndash;&gt;-->
<!--        <module name="HiddenField">-->
<!--            <property name="tokens" value="VARIABLE_DEF"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; <module name="IllegalCatch"/> &ndash;&gt;-->
<!--        <module name="IllegalInstantiation">-->
<!--            <property name="classes" value="java.lang.Boolean"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; <module name="IllegalThrows"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="IllegalToken"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="IllegalTokenText"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="IllegalType"/> &ndash;&gt;-->
<!--        <module name="InnerAssignment"/>-->
<!--        <module name="MagicNumber">-->
<!--            <property name="ignoreHashCodeMethod" value="true"/>-->
<!--            <property name="ignoreAnnotation" value="true"/>-->
<!--            <message key="magic.number"-->
<!--                     value="Most likely the value ''{0}'' is a configuration one. You should move it to configuration file instead of source code."/>-->
<!--        </module>-->
<!--        &lt;!&ndash; <module name="MissingCtor"/> &ndash;&gt;-->
<!--        <module name="MissingSwitchDefault"/>-->
<!--        <module name="ModifiedControlVariable"/>-->
<!--        <module name="MultipleStringLiterals">-->
<!--            &lt;!&ndash; Allow zero-length and 1-character strings &ndash;&gt;-->
<!--            <property name="ignoreStringsRegexp" value='^(("")|(".")|("..")|("..>"))$'/>-->
<!--        </module>-->
<!--        <module name="MultipleVariableDeclarations"/>-->
<!--        <module name="NestedForDepth">-->
<!--            <property name="max" value="2"/>-->
<!--        </module>-->
<!--        <module name="NestedIfDepth">-->
<!--            <property name="max" value="2"/>-->
<!--        </module>-->
<!--        <module name="NestedTryDepth">-->
<!--            <property name="max" value="2"/>-->
<!--        </module>-->
<!--        &lt;!&ndash;<module name="NoArrayTrailingComma"/>&ndash;&gt;-->
<!--        &lt;!&ndash;<module name="NoEnumTrailingComma"/>&ndash;&gt;-->
<!--        <module name="NoClone"/>-->
<!--        <module name="NoFinalizer"/>-->
<!--        <module name="OneStatementPerLine"/>-->
<!--        &lt;!&ndash;<module name="OverloadMethodsDeclarationOrder"/>&ndash;&gt;-->
<!--        <module name="PackageDeclaration"/>-->
<!--        <module name="ParameterAssignment"/>-->
<!--        &lt;!&ndash; <module name="RequireThis"/> &ndash;&gt;-->
<!--        <module name="ReturnCount">-->
<!--            <property name="max" value="4"/>-->
<!--        </module>-->
<!--        <module name="SimplifyBooleanExpression"/>-->
<!--        <module name="SimplifyBooleanReturn"/>-->
<!--        <module name="StringLiteralEquality"/>-->
<!--        <module name="SuperClone"/>-->
<!--        <module name="SuperFinalize"/>-->
<!--        &lt;!&ndash; <module name="UnnecessaryParentheses"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="UnnecessarySemicolonInEnumeration"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="UnnecessarySemicolonInTryWithResources"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="UnusedLocalVariable"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="VariableDeclarationUsageDistance"/> &ndash;&gt;-->

<!--        &lt;!&ndash; https://checkstyle.org/config_design.html &ndash;&gt;-->
<!--        &lt;!&ndash;       Checks for class design             &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="DesignForExtension"/> &ndash;&gt;-->
<!--        <module name="FinalClass">-->
<!--            <property name="severity" value="warning"/>-->
<!--            <message key="final.class"-->
<!--                     value="Private ctor in non-final class. Inspect the code and make sure it's intended."/>-->
<!--        </module>-->
<!--        <module name="HideUtilityClassConstructor"/>-->
<!--        <module name="SuppressionXpathSingleFilter">-->
<!--            <property name="checks" value="HideUtilityClassConstructor"/>-->
<!--            <property name="query"-->
<!--                      value="//*[MODIFIERS//*[@text = 'UtilityClass' or @text='NoArgsConstructor' or @text = 'SpringBootApplication']]/descendant-or-self::node()"/>-->
<!--        </module>-->
<!--        <module name="InnerTypeLast"/>-->
<!--        &lt;!&ndash;<module name="InterfaceIsType"/>&ndash;&gt;-->
<!--        <module name="MutableException"/>-->
<!--        <module name="OneTopLevelClass"/>-->
<!--        &lt;!&ndash; <module name="ThrowsCount"/> &ndash;&gt;-->

<!--        &lt;!&ndash; Miscellaneous other checks.                   &ndash;&gt;-->
<!--        &lt;!&ndash; https://checkstyle.org/config_misc.html &ndash;&gt;-->
<!--        <module name="ArrayTypeStyle"/>-->
<!--        &lt;!&ndash; <module name="AvoidEscapedUnicodeCharacters"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="CommentsIndentation"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="DescendantToken"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="FinalParameters"/> &ndash;&gt;-->
<!--        <module name="NoCodeInFile"/>-->

<!--        &lt;!&ndash; https://github.com/checkstyle/checkstyle/issues/3122 &ndash;&gt;-->
<!--        &lt;!&ndash; https://github.com/checkstyle/checkstyle/issues/3342 &ndash;&gt;-->
<!--        &lt;!&ndash; this module is broken for a long time, I'm not sure we should use it &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="Indentation"/> &ndash;&gt;-->

<!--        &lt;!&ndash; <module name="OrderedProperties"/> &ndash;&gt;-->
<!--        <module name="OuterTypeFilename"/>-->
<!--        &lt;!&ndash; <module name="TodoComment" /> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="TrailingComment"/> &ndash;&gt;-->
<!--        <module name="UncommentedMain">-->
<!--            <property name="excludedClasses" value="Application|Main"/>-->
<!--        </module>-->
<!--        <module name="UpperEll"/>-->


<!--        &lt;!&ndash; https://checkstyle.org/config_metrics.html &ndash;&gt;-->
<!--        &lt;!&ndash;         Checks for Code Metrics.           &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="BooleanExpressionComplexity"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="ClassDataAbstractionCoupling"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="ClassFanOutComplexity"/> &ndash;&gt;-->
<!--        <module name="CyclomaticComplexity">-->
<!--            <property name="max" value="16"/>-->
<!--        </module>-->
<!--        &lt;!&ndash; <module name="JavaNCSS"/> &ndash;&gt;-->
<!--        &lt;!&ndash; <module name="NPathComplexity"/> &ndash;&gt;-->


<!--        &lt;!&ndash; https://checkstyle.org/config_regexp.html &ndash;&gt;-->
<!--        &lt;!&ndash;      Checks for forbidden code.           &ndash;&gt;-->
<!--        <module name="RegexpSinglelineJava">-->
<!--            <property name="format" value="\.printStackTrace"/>-->
<!--            <property name="ignoreComments" value="true"/>-->
<!--            <property name="message" value="Using printStackTrace is a bad practice. Use a logger instead."/>-->
<!--        </module>-->
<!--        <module name="RegexpSinglelineJava">-->
<!--            <property name="format" value="System\.out\.print"/>-->
<!--            <property name="ignoreComments" value="true"/>-->
<!--            <property name="message" value="Using System.out for logging is a bad practice. Use a logger instead."/>-->
<!--        </module>-->
<!--        <module name="RegexpSinglelineJava">-->
<!--            <property name="format"-->
<!--                      value="javax\.annotation\.Nonnull|javax\.annotation\.Nullable|javax\.annotation\.ParametersAreNonnullByDefault|javax\.annotation\.ParametersAreNullableByDefault|org\.springframework\.lang\.Nullable|org\.springframework\.lang\.NonNull|org\.springframework\.lang\.NonNullApi|org\.springframework\.lang\.NonNullFields|edu\.umd\.cs\.findbugs\.annotations\.Nullable|edu\.umd\.cs\.findbugs\.annotations\.NonNull"/>-->
<!--            <property name="ignoreComments" value="true"/>-->
<!--            <property name="message" value="Use org.jetbrains.annotations.* for nullability."/>-->
<!--        </module>-->


<!--        &lt;!&ndash; https://checkstyle.org/config_filters.html &ndash;&gt;-->
<!--        &lt;!&ndash; Comments/annotation suppression.           &ndash;&gt;-->
<!--        <module name="SuppressionCommentFilter"/>-->
<!--        &lt;!&ndash; <module name="SuppressWarnings"/> &ndash;&gt;-->
<!--        <module name="SuppressWarningsHolder"/>-->
<!--        <module name="SuppressWithNearbyCommentFilter"/>-->

<!--    </module>-->

<!--</module>-->
